<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav opened mode="side" role="navigation">
        <div class="profile">
            {{title}}
            some profile
        </div>
        <mat-nav-list>
            <hr />  
            
            <a mat-list-item>
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
            </a>
            <a mat-list-item routerLink="/dashboard">
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
            </a>
            <a mat-list-item routerLink="/page1">
                <span class="label">Page 1</span>
            </a>
            <a mat-list-item routerLink="/page2">
                <span class="label">Page 2</span>
            </a>
            <a mat-list-item routerLink="/page3">
                <span class="label">Page 3</span>
            </a>
            <hr />
            <a mat-list-item routerLink="/login">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">Login</span>
            </a>
            <a mat-list-item type="button">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">LogOut</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <!-- <div fxHide.gt-xs> -->
            <div>
                <a mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="icon">menu</mat-icon>
                </a>
            </div>

            <span>{{ title }}</span>

            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul class="navigation-items">
                    
                    <li>
                        <a>
                            <mat-icon class="icon">home</mat-icon>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard">
                            <mat-icon class="icon">dashboard</mat-icon>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/login">
                            <mat-icon class="icon">input</mat-icon>
                            <span>Login</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <mat-icon class="icon">input</mat-icon>
                            <span>LogOut</span>
                        </a>
                    </li>
                </ul>
            </div>

        </mat-toolbar>

        <main>
            <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
            <router-outlet></router-outlet>
        </main>
        <hr/>
        <app-display-log></app-display-log>
    </mat-sidenav-content>
</mat-sidenav-container>