<div fxLayout="row" fxLayoutAlign="center start">
    <div class="content">
        <h1>Singapore Travel Restrictions Advisor</h1>

        <p>This application provides information on countries 
            that you can travel to and what are the procedures that
            you have to undergo to re-enter Singapore.</p>

        <button mat-flat-button color="primary" routerLink="/questionaire">Tell me more</button>
    </div>
</div>
<!-- 
<app-polar-question class="xxx" [question]="(question$ | async)!" (next)="onNext($event)"></app-polar-question> -->
<!-- <app-open-close></app-open-close> -->