<div class="header">
    <button mat-button routerLink="/intro">
        <mat-icon class="icon">arrow_back</mat-icon>
        Introduction
    </button>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
    <div class="content">
        <div >
            <p>Will you be travelling alone?</p>
        </div>
        <div >
            <button mat-flat-button color="primary" routerLink="/status-check">Yes</button>&nbsp;
            <button mat-stroked-button color="primary" routerLink="/travel-companion">No</button>
        </div>
    </div>
</div>