<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon class="icon">input</mat-icon>
                <span class="label">Login</span>
            </a>
            <a mat-list-item>
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
            </a>
            <a mat-list-item>
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
            </a>
            <a mat-list-item type="button">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">LogOut</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <a mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </a>
            </div>
            <div>
                <a>
                    Learning Angular Blog 
                </a>
                <small>{{title}}</small>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li>
                        <a>
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">Login</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard">
                            <mat-icon class="icon">dashboard</mat-icon>
                            <span class="label">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">LogOut</span>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            
            <h1></h1>

            <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>

            <mat-slider min="1" max="100" step="20"></mat-slider>

            <nav>
                <a routerLink="/dashboard">Dashboard</a>
                <a routerLink="/authors">Authors</a>
            </nav>

            <h2>Books</h2>
<app-google-book-list class="book-list" [books]="books$ | async" (add)="onAdd($event)"></app-google-book-list>

<h2>My Collection</h2>
<app-google-book-collection class="book-collection" [books]="bookCollection$ | async" (remove)="onRemove($event)">
</app-google-book-collection>

            <app-counter></app-counter>

            <router-outlet></router-outlet>

            <app-messages></app-messages>

        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
