<div class="header">
    <button mat-button [routerLink]="previousRoutePath$ | async">
        <mat-icon class="icon">arrow_back</mat-icon>
        Back
    </button>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
    <div class="content">
        <div >
            <p>Do you have a specific destination in mind?</p>
        </div>
        <div >
            <button mat-flat-button color="primary" routerLink="/country-search">Yes</button>&nbsp;
            <button mat-stroked-button color="primary" routerLink="/restriction-search">No</button>
        </div>
    </div>
</div>