<!-- <h2>{{author.lastName | uppercase}} Details</h2>
<div><span>id: </span>{{author.id}}</div>
<div><span>name: </span>{{author.firstName}}</div> -->

<!-- 
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="author.firstName" placeholder="name">
</div> -->

<h2>Author List</h2>

<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
  </div>

<mat-list *ngFor="let author of authors"   routerLink="/detail/{{author.id}}">
    <mat-list-item> <span class="badge">{{author.id}}</span> {{author.firstName}} 
        <button class="delete" title="delete author"
        (click)="delete(author)">x</button>
    </mat-list-item>
</mat-list>
