<mat-toolbar color="primary">
  <!-- 
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> 
  -->
  <span routerLink="/home">Travel App</span>

  <button mat-button routerLink="/page1">Results</button>

  <!--
  <button mat-icon-button aria-label="Example icon button with a home icon">
    <mat-icon>home</mat-icon>
  </button>
  
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  -->
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>