<mat-toolbar fxHide.lt-md color="primary">
    <span routerLink="/home" class="interactive">Singapore Travel Restrictions Advisor</span>
    <!-- <button mat-button routerLink="/page1">Look up country</button> -->
</mat-toolbar>
<!-- 
<button (click)="goBack()">go back</button> -->

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    Application is built by company
</footer>

<img id="bigCloud1" title="big-cloud" src="../assets/images/BigCloud.svg" />

<img id="smallCloud1" title="small-cloud1" src="../assets/images/SmallCloud.svg" />
