<div class="header">
    <button mat-button [routerLink]="previousRoutePath$ | async">
        <mat-icon class="icon">arrow_back</mat-icon>
        Back
    </button>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
    <div class="content">
        <div >
            <p>TODO travelling companions?</p>
        </div>
        <div >
            <button mat-flat-button color="primary" (click)="goToPath('status-check')">Yes</button>&nbsp;
            <button mat-stroked-button color="primary" (click)="goToPath('travel-companion')">No</button>
        </div>
    </div>
</div>