<div class="header">
    <app-back-button></app-back-button>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" class="content">

        <div fxFlex="" class="content-header">
            <h1>Travel Companions</h1>

            [{{navigationHistory$ | async}}]

            <p *ngIf="companions.length <= 0">
                You have not added any travel companions yet.
            </p>
            <p *ngIf="companions.length > 0">
                You are travelling with {{companions.length}} companion.
            </p>
            <app-companion-data-entry (add)="onAdd($event)"></app-companion-data-entry>
        </div>

        <div fxFlex="nogrow" class="card-holder">

            <mat-accordion class="accordion-card">
                <!-- <mat-option *ngFor="let option of filteredResidencyStatusOptions | async" [value]="option">{{option}}</mat-option> -->
                <mat-expansion-panel hideToggle *ngFor="let companion of companions;  let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{companion.name}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{companion.vaccinationStatus}}, {{companion.residencyStatus}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngIf="editIndex != i; then displayTemplate else editTemplate"></div>
                    
                    <ng-template #displayTemplate>
                        <div>
                            Singapore PR<br />
                            Vaccinated with Sinopharm, at least 2 doses 17 days apart
                        </div>
    
                        <mat-action-row>
                            <button mat-button color="primary" (click)="remove(i)">Remove</button>
                            <button mat-button color="primary" (click)="edit(i)">Edit</button>
                        </mat-action-row>
                    </ng-template>
                    
                    <ng-template #editTemplate>

                        <app-companion-data-edit (update)="onUpdate($event)" [traveller]="editTraveller"></app-companion-data-edit>
    
                        <!-- <mat-action-row *ngIf="editIndex == i">
                            <button mat-button color="primary" (click)="cancel(i)">Cancel</button>
                            <button mat-button color="primary" (click)="save(i)">Save</button>
                        </mat-action-row> -->
    
                    </ng-template>


                </mat-expansion-panel>

            </mat-accordion>

<!--             
            <mat-card>Simple card 0</mat-card>

            <mat-card>Simple card 1</mat-card>

            <mat-card>Simple card 2</mat-card> -->

            <!-- <mat-card>Simple card 3</mat-card>

            <mat-card>Simple card 4</mat-card>

            <mat-card>Simple card 5</mat-card>

            <mat-card>Simple card 6</mat-card>

            <mat-card>Simple card 7</mat-card> -->
            

        </div>

        <div fxFlex="60px" class="content-footer">
            <app-go-to-button destinationPath="has-destination" displayText="Next"></app-go-to-button>
        </div>
    </div>
</div>