<div fxLayout="column" class="content-container">

    <h1 fxLayoutAlign="center">Country Look Up</h1>

    <p fxLayoutAlign="center">
        Find the travel restrictions in country
    </p>

    <form fxLayoutAlign="center" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Country</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Country"
                 matInput
                 [formControl]="countryInputBox"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText">
            <mat-option *ngFor="let travelLane of filteredOptions | async" [value]="travelLane">{{travelLane.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>


    <!-- <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center" class="container">
        <p>dummy-page1 works!</p>
        <div fxLayoutAlign="center center" class="placeholdera">1</div>
    </div> -->

</div>

<!-- 
<p>home works!</p>

<p>
    The goal of this page is to identify the countries that a person can travel for a given set of criteria.
</p> -->
